# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/

.env

# Docker
*.log
docker-compose.override.yml

# VSCode / IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
